body {
  font-family: 'Marcellus', serif;
}
h1 {
  color: red;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 22px;
}

.date {
  background-color: #0d0d0d;
}
.date h3 {
  color: #fff;
}
.date h4 {
  color: #BD9400;
}
.date p, ul li {
  font-size: 18px;
  color: #fff;
}