body {
  font-family: 'Marcellus', serif;
}
h1 {
  color: red;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 22px;
}

.navbar-dark {
  background-color: #0d0d0d !important;  
}
.navbar-dark .dropdown-menu {
  background-color: #BD9400;
  border: 0;
}

.date {
  background-color: #0d0d0d;
}
.date h3 {
  color: #fff;
}
.date h4 {
  color: #BD9400;
}
.date p, ul li {
  font-size: 18px;
  color: #fff;
}

.anniversary {
  background-image: url('../img/tools.jpg');
  background-position: right;
  padding: 200px 0px;
}
.anniversary__content {
  background-color: #fff;
}

.haircut {
  margin-top: 100px;
}
.haircut__styles-item h4, .beard__styles-item h4  {
  color: #BD9400;
}
.haircut__styles-item p, .beard__styles-item p {
  font-size: 16px;
  color: #0d0d0d;
}

.newsletter__form .form-control {
  border: 1px solid #0d0d0d;
}
.newsletter__form .btn-primary {
  background-color: #BD9400;
  border: 0;  
}

footer {
  background-color: #0d0d0d;
  color: #fff;  
}
@media only screen and (min-width: 992px) {
  .newsletter__form {
    position: absolute;
    background-color: #fff;
    margin-top: -150px;
  }
  footer {
    padding-top: 200px;
  padding-bottom: 30px;
  }
}